<head>
    <title>UET.EGarden - Error</title>

    <link href="~/view-resources/Views/Error/Index.css" rel="stylesheet" asp-append-version="true"/>
</head>
<body>
    <div class="m-error_container">
        <span class="m-error_title">
            <h1>
                404
            </h1>
        </span>
        <p class="m-error_subtitle">
            @L("OopsYouAreLost")
        </p>
        <p class="m-error_description">
            @L("WeCanNotFindThePage")<br>
            <a href="@Url.Action("Index", "Home")" class="link">@L("HomePage")</a>.
        </p>
    </div>
</body>