@using Abp.Timing
<!-- BEGIN FOOTER -->
<div class="footer">
    <div class="container">
        <div class="row">
            <!-- BEGIN COPYRIGHT -->
            <div class="col-md-6 col-sm-6 padding-top-10">
                @Clock.Now.Year © UET.EGarden. ALL Rights Reserved. <a href="javascript:;">Privacy Policy</a> | <a href="javascript:;">Terms of Service</a>
            </div>
            <!-- END COPYRIGHT -->
            <!-- BEGIN PAYMENTS -->
            <div class="col-md-6 col-sm-6">
                <ul class="social-footer list-unstyled list-inline pull-right">
                    <li><a href="javascript:;"><i class="fa fa-facebook" aria-label="Facebook"></i></a></li>
                    <li><a href="javascript:;"><i class="fa fa-google-plus" aria-label="Google plus"></i></a></li>
                    <li><a href="javascript:;"><i class="fa fa-dribbble" aria-label="Dribble"></i></a></li>
                    <li><a href="javascript:;"><i class="fa fa-linkedin" aria-label="Linkedin"></i></a></li>
                    <li><a href="javascript:;"><i class="fa fa-twitter" aria-label="Twitter"></i></a></li>
                    <li><a href="javascript:;"><i class="fa fa-skype" aria-label="Skype"></i></a></li>
                    <li><a href="javascript:;"><i class="fa fa-github" aria-label="Github"></i></a></li>
                    <li><a href="javascript:;"><i class="fa fa-youtube" aria-label="Youtube"></i></a></li>
                    <li><a href="javascript:;"><i class="fa fa-dropbox" aria-label="Dropbox"></i></a></li>
                </ul>
            </div>
            <!-- END PAYMENTS -->
        </div>
    </div>
</div>
<!-- END FOOTER -->